<h1 class="text-success">EcoBloque</h1>
<div class="jumbotron">
    <div>
      <label>Ingrese la longitud de la pared: </label>
      <input [(ngModel)]="a" placeholder="Metros">
    </div>
    <label>Ingrese el alto de la pared: </label>
    <input [(ngModel)]="b" placeholder="Metros">
  <p><a href="#" class="btn btn-success" (click)="calculate(a,b)">Calcular Costo</a></p>
</div>


<div class="jumbotron">
  <div>
    <p>Necesitas {{answer}} EcoBloques</p>
  </div>

  <div>
    <p>El costo es  {{finalCost}} Bs. o {{dolarCost}} $</p>
  </div>
  <div>
    <p>Cada ladrillo tiene un costo de 1.20 Bs.</p>
  </div>
</div>